body {
    font-size: 11pt;
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 40pt;
    color: black;
    font-family: "Oleo Script", Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
}

header {
    height: 40pt;
    width: 100%;
    background: aliceblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.games, .programming, .other_interests {
    margin: 20pt 15% 40pt;
    width: 70%;
    height: auto;
    background: aliceblue;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

main {
    padding: 1em;
    font-weight: bold;
    font-size: 15pt;
}

footer {
    height: 30pt;
    width: 100%;
    text-align: center;
    background: aliceblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    bottom: 0;
    position: fixed;
}

#games_header, #programming_header, #other_interests_header {
    width: 100%;
    height: 20pt;
    background: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

#games_list {
    list-style: none;
}

#wot_blitz_img {
    width: 30%;
    height: 30%;
    display: inline-block;
}

#wot_blitz_info {
    display: inline-block;
    text-align: match-parent;
}

p {
    margin-top: 0;
    margin-left: 10pt;
    line-height: 20pt;
}

#footer {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 10pt;
    line-height: 30pt;
}